/* Start Global Style to Whole Website */

:root {
    --main-color: #72b626;
    --white-color: #fff;
    --white-smoke-color: #eee;
    --gainsboro-color: #ddd;
    --very-light-grey-color: #ccc;
    --dim-grey-color: #666;
    --night-rider-color: #333;
    --nobel-color: #999;
    --grey-color: #777;
    --black-haze-color: #eff0f0;
    --overlay-color: rgba(0, 0, 0, 0.9);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow2-color: rgba(51, 51, 51, 0.2);
    --preloader-color: #bd4932;
}

.overlay {
    background-color: var(--overlay-color);
}

/* Finish Global Style to Whole Website */

/* Start Style Website Header */

header .top-bar nav ul {
    background-color: var(--white-smoke-color);
}

header .top-bar nav ul li {
    border-bottom: 1px solid var(--gainsboro-color);
}

header .top-bar nav ul li.active a {
    color: var(--main-color);
}

header .top-bar nav ul li a {
    color: var(--dim-grey-color);
}

header .top-bar .mobile-btn {
    background-color: var(--white-smoke-color);
}

header .top-bar .mobile-btn .line {
    background-color: var(--dim-grey-color);
}

header .color-setting .color-setting-content {
    background-color: var(--white-color);
}

header .color-setting .color-setting-content {
    box-shadow: 0px 0px 4px 0px var(--shadow2-color);
}

header .color-setting .color-setting-icon {
    background-color: var(--white-color);
}

header .color-setting .color-setting-icon {
    box-shadow: 4px 0px 4px 0px var(--shadow2-color);
}

header .color-setting .color-setting-text h3 {
    border-bottom: 1px solid var(--very-light-grey-color);
    color: var(--night-rider-color);
}

header .color-setting .color-setting-text svg {
    color: var(--nobel-color);
}

header .color-setting .color-setting-colors .color-setting-color:first-of-type {
    background-color: #72b626;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(2) {
    background-color: #f72b1c;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(3) {
    background-color: #8a2be2;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(4) {
    background-color: #4169e1;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(5) {
    background-color: #daa520;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(6) {
    background-color: #ee6192;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(7) {
    background-color: #6957af;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(8) {
    background-color: #fa5b0f;
}

header .color-setting .color-setting-colors .color-setting-color:nth-of-type(9) {
    background-color: #9acd32;
}

header .color-setting .color-setting-colors .color-setting-color:last-of-type {
    background-color: #ffb400;
}

header .banner .banner-background {
    background-color: var(--main-color);
}

header .banner .banner-box .banner-box-image img {
    box-shadow: 0 0 7px var(--shadow-color);
}

header .banner .banner-box .banner-box-text span {
    color: var(--grey-color);
}

header .banner .banner-box .banner-box-text h2 {
    color: var(--dim-grey-color);
}

header .banner .banner-box .banner-box-text h2 span {
    color: var(--main-color);
}

header .banner .banner-box .banner-box-text p {
    color: var(--dim-grey-color);
}

header .banner .banner-box .banner-box-text a {
    color: var(--white-color);
    background-color: var(--main-color);
}

header .banner .banner-box .banner-box-text a span {
    color: var(--white-color);
}

/* Finish Style Website Header */

/* Start Style the About Page*/

/* Start Style the About Title Section*/

.about-title {
    background-color: var(--white-smoke-color);
}

.about-title h2 {
    color: var(--dim-grey-color)
}

.about-title h2 span {
    color: var(--main-color)
}

/* Finish Style the About Title Section*/

/* Start Style the About Information Section*/

.about-info .about-boxs .about-boxs-image .about-boxs-image-text h3 {
    color: var(--dim-grey-color);
}

.about-info .about-boxs .about-left-boxs .about-left-box p {
    color: var(--nobel-color)
}

.about-info .about-boxs .about-left-boxs .about-left-box p span {
    color: var(--dim-grey-color);
}

.about-info .about-boxs .about-left-boxs .about-left-box a {
    background-color: var(--main-color);
    color: var(--white-color);
}

.about-info .about-boxs .about-right-boxs .about-right-box {
    border: 1px solid var(--gainsboro-color);
}

.about-info .about-boxs .about-right-boxs .about-right-box h3 {
    color: var(--main-color);
}

.about-info .about-boxs .about-right-boxs .about-right-box .about-right-box-texts .about-right-box-text:first-of-type {
    color: var(--grey-color)
}

.about-info .about-boxs .about-right-boxs .about-right-box .about-right-box-texts .about-right-box-text:last-of-type {
    color: var(--dim-grey-color)
}

/* Finish Style the About Information Section*/

/* Start Style the Skills Section*/

.skills .skill-line {
    background-color: var(--gainsboro-color);
}

.skills h3 {
    color: var(--dim-grey-color);
}

.skills .skills-boxs .skills-box span {
    color: var(--dim-grey-color);
}

.success-stroke {
    stroke: var(--main-color);
}

.warning-stroke {
    stroke: var(--main-color);
}

.danger-stroke {
    stroke: var(--main-color);
}

/* Finish Style the Skills Section*/

/* Start Style the Experience Section*/

.experience .experience-line {
    background-color: var(--gainsboro-color);
}

.experience h3 {
    color: var(--dim-grey-color);
}

.experience .experience-boxs .experience-box span {
    color: var(--dim-grey-color);
}

.experience .experience-boxs .experience-box .experience-box-icon,
.experience .education-boxs .education-box .education-box-icon {
    color: var(--white-color);
    background-color: var(--main-color);
}

.experience .experience-boxs .experience-box .experience-box-icon::after,
.experience .education-boxs .education-box .education-box-icon::after {
    background-color: var(--gainsboro-color);
}

.experience .experience-boxs .experience-box .experience-box-text .experience-box-text-year,
.experience .education-boxs .education-box .education-box-text .education-box-text-year {
    background-color: var(--white-smoke-color);
    color: var(--dim-grey-color);
}

.experience .experience-boxs .experience-box .experience-box-text h4,
.experience .education-boxs .education-box .education-box-text h4 {
    color: var(--dim-grey-color);
}

.experience .experience-boxs .experience-box .experience-box-text h4 span,
.experience .education-boxs .education-box .education-box-text h4 span {
    color: var(--grey-color)
}

/* Finish Style the Experience Section*/

/* Finish Style the About Page*/

/* Start Style the Portfolio Page*/

/* Start Style the Portfolio Title Section*/

.portfolio-title {
    background-color: var(--white-smoke-color);
}

.portfolio-title h1 {
    color: var(--black-haze-color)
}

.portfolio-title h2 {
    color: var(--dim-grey-color)
}

.portfolio-title h2 span {
    color: var(--main-color)
}

/* Finish Style the Portfolio Title Section*/

/* Start Style the Portfolio Information Section*/

.portfolio-info .portfolio-boxs .portfolio-box .portfolio-box-text a {
    background-color: var(--main-color);
    color: var(--white-color);
}

/* Finish Style the Portfolio Information Section*/

/* Finish Style the Portfolio Page*/

/* Start Style the Contact Page*/

/* Start Style the Contact Title Section*/

.contact-title {
    background-color: var(--white-smoke-color)
}

.contact-title h1 {
    color: var(--black-haze-color)
}

.contact-title h2 {
    color: var(--dim-grey-color)
}

.contact-title h2 span {
    color: var(--main-color)
}

/* Finish Style the Contact Title Section*/

/* Start Style the Contact Information Section*/

.contact-info .contact-boxs .contact-left-box .contact-left-box-text {
    color: var(--dim-grey-color);
}

.contact-info .contact-boxs .contact-left-box .contact-left-box-icon-icon {
    color: var(--main-color);
}

.contact-info .contact-boxs .contact-left-box .contact-left-box-icon-text {
    color: var(--dim-grey-color);
}

.contact-info .contact-boxs .contact-right-box form input,
.contact-info .contact-boxs .contact-right-box form textarea {
    border: 1px solid var(--gainsboro-color);
}

.contact-info .contact-boxs .contact-right-box form textarea:focus,
.contact-info .contact-boxs .contact-right-box form input:focus {
    border: 1px solid var(--main-color);
}

.contact-info .contact-boxs .contact-right-box form textarea::placeholder,
.contact-info .contact-boxs .contact-right-box form input::placeholder {
    color: var(--dim-grey-color);
}

.contact-info .contact-boxs .contact-right-box form button,
.contact-info .contact-boxs .contact-right-box .contact-right-box-message {
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
}

/* Finish Style the Contact Information Section*/

/* Finish Style the Contact Page*/

/* Start Style the Loading Section*/

#loading {
    background-color: var(--white-color);
}

#object {
    background-color: var(--main-color);
}

/* Finish Style the Loading Section*/

/* Start Style The Website Media Queries */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .about-title {
        background: none;
    }

    .about-title h1 {
        color: var(--black-haze-color)
    }

    .about-title h2 {
        color: var(--dim-grey-color)
    }

    .about-title h2 span {
        color: var(--main-color)
    }

    .portfolio-title {
        background: none;
    }

    .portfolio-title h1 {
        color: var(--black-haze-color)
    }

    .portfolio-title h2 {
        color: var(--dim-grey-color)
    }

    .portfolio-title h2 span {
        color: var(--main-color)
    }

    .contact-title {
        background: none;
    }

    .contact-title h1 {
        color: var(--black-haze-color)
    }

    .contact-title h2 {
        color: var(--dim-grey-color)
    }

    .contact-title h2 span {
        color: var(--main-color)
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    header .top-bar nav ul {
        background: none;
    }

    header .top-bar nav ul li {
        border-bottom: none;
        background-color: var(--white-smoke-color);
    }

    header .top-bar nav ul li.active {
        background-color: var(--main-color);
    }

    header .top-bar nav ul li:hover {
        background-color: var(--main-color);
    }

    header .top-bar nav ul li {
        color: var(--dim-grey-color);
    }

    header .top-bar nav ul li a {
        color: var(--white-color);
    }

    header .top-bar nav ul li.active a svg {
        color: var(--white-color);
    }

    header .top-bar nav ul li:hover svg {
        color: var(--white-color);
    }

    header .top-bar nav ul li a span {
        color: var(--white-color);
    }
}

/* Finish Style The Website Media Queries */
